html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("./background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white; 
    background:rgba(0, 0, 0, 0.6);
  }
}
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.row > * {
 
  padding-right: 5px !important;
  padding-left: 5px !important;
 
}
.ant-menu {
    background: #212529 !important; 
}
.ant-modal-body
{
  padding: 20px 10px 10px 10px !important
}
.ant-dropdown-menu {
  min-width: 200px !important;
}
#nprogress .bar {
  background: #ff0303 !important;
  height: 2px !important;
}

.login-background
{
    height: 100vh;
    background-attachment: fixed;
}
.register-form {
  font-size: 16px;
  z-index: 2;
  position: absolute;
  width: 400px !important;
  height: 550px;
  top: calc(50% - 300px);
  left: calc(50% - 200px);
}
.login-form {
    font-size: 16px;
    z-index: 2;
    position: absolute;
    width: 400px !important;
    height: 450px;
    top: calc(50% - 205px);
    left: calc(50% - 200px);
}
.login-header {
    color: #FF852C;
    font-size: 16px;
    font-weight: bold;
    background: #232A4A;
    line-height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 15px;
}
.register-content {
  height: 550px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 35px 40px 35px;
}
.login-content {
    height: 360px;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px 35px 40px 35px;
}
.login-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.login-label {
    font-weight: bold;
}
.login-textbox {
    width: 330px;
    height: 38px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}
.login-span
{
    margin-top: 10px;
    position: relative;
}
.icon-view-pass {
    position: absolute;
    right: 10px;
    top: 14px;
    cursor: pointer;
}
.login-error {
    font-size: 12px;
    color: red;
    line-height: 20px;
    position: absolute;
    left: 0;
    top: 42px;
    font-style: italic;
}

.btn-orange {
    background-color: #FF852C !important;
    color: #fff;
    outline: none;
    height: 40px;
    width: 330px;
}
.botton-login
{
    margin-top: 20px;
    position: relative;
}

.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding-bottom: 10;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: #FFF;
  border-color: #FFF;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: orangered;
  border-color: orangered;
}

#components-tabs-demo-card-top .code-box-demo {
  padding: 24px;
  overflow: hidden;
  background: #f5f5f5;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: orangered;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: orangered;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: orangered;
  border-color: orangered;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #FFFFFF !important;
}
.menu-header{
}
@media only screen and (max-width: 850px)
{
  .menu-header
  {
    display: none
  }
}
.menu-mobile
{

}
@media only screen and (min-width: 849px)
{
  .menu-mobile
  {
    display: none
  }
}
@import 'bootstrap/dist/css/bootstrap.css';
@import 'antd/dist/antd.css';
