.container {
  padding: 0 2rem;
}

.main {
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.Uiheader
{
  background-color: #212529;
  color: #FFFFFF;
  padding: 5px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid orangered; */
}
.UiMenu
{
  background-color:#0070f3;
  color: #FFFFFF;
  font-weight: bold;
  min-width: 250px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  transition: all .3s ease-in-out;

}
.UiMenu:hover
{
  background-color:orangered;
  color: #FFFFFF;
  font-weight: bold;
  min-width: 250px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  transition: all .3s ease-in-out;

}
.SelectUiMenu
{
  background-color:orangered;
  color: #FFFFFF;
  font-weight: bold;
  min-width: 250px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  transition: all .3s ease-in-out;

}

.SelectUiMenuMoney
{
  background-color:orangered;
  color: #FFFFFF;
  font-weight: bold;
  min-width: 200px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.UiMenuMoney
{
  background-color:#0070f3;
  color: #FFFFFF;
  font-weight: bold;
  min-width: 200px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all .3s ease-in-out;

}
.UiBody
{
  margin-top:15px;
  overflow: auto;
  max-height: 85vh;
}
.UiListNews
{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.UiKeyWord
{
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  min-height: 15vh;
  margin-bottom: 10px;
}
.UiTitle
{
  padding: 5px;
  font-size: 18px;
  color:#FFFFFF;
  font-weight: bold;
}
.imageHome
{
  object-fit: cover;
}